<div class="container">
    <div uib-alert dismiss-on-timeout="5000" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'info')" close="closeAlert($index)">{{alert.msg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Heating
                <span ng-show="regulator.heater==1" class="label label-success">ON</span>
                <span ng-show="regulator.heater==0" class="label label-danger">OFF</span>
            </h3>
        </div>
        <h1>{{temperature}} °C</h1>
        <h5 ng-show="regulator.state=='auto'">Desired: {{regulator.temperature}} °C</h5>
        <br>
        <button type="button" class="btn btn-danger" ng-click="onDisable()">OFF</button>
        <button type="button" class="btn btn-primary" ng-click="onOut()">OUT</button>
        <button type="button" class="btn btn-info" ng-click="onNight()">NIGHT</button>
        <button type="button" class="btn btn-warning" ng-click="onDay()">DAY</button>
        <button type="button" class="btn btn-success" ng-click="onEnable()">ON</button>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Metrics</h3>
        </div>
        <table class="table">
            <tr ng-repeat="metric in metrics">
                <td><span class="label {{(metric.age>180) ? 'label-danger' : (metric.age<70) ? 'label-success': 'label-warning'}}">{{metric.alias}} ({{metric.chipId}})</span></td><td>{{metric.t}} °C</td><td>{{metric.vcc}} V</td>
            </tr>
        </table>
    </div>
    <br>
    <p>Updated {{sensorDelay}} second(s) ago</p>
    <button type="button" class="btn btn-primary" ng-click="onLogout()">Logout</button>


</div>

